  /* NEWS分頁 */
  @media screen and (max-width: 428px) {
  .wrapper_bg {
    min-width: auto;
    height: auto;
    box-sizing: border-box;
    width: 90%;
  }

  .list li{
    margin: 0 0px 20px 0px;
  }

  .content {
    width: 95%;
    margin-bottom: 0;
  }

  .content>img {
    width: 100%;
    margin-bottom: 10px;
  }
  .para{
    width: 100%;
  }
  .para_subtitle, .para_notice{
    margin: 20px 0;
  }
  }