  /* NEWS分頁平板 */
  @media screen and (max-width: 992px) {
    .content {
      width: 95%;
      margin-bottom: 0;
    }

    .list {
      display: flex;
      justify-content: center;
      margin: 0 auto;
    }

    .list li:last-child {
      align-self: start;
    }

    .wrapper_bg {
      min-width: auto;
      height: auto;
      box-sizing: border-box;
      width: 90%;
    }
    .pages{
      width: auto;
    }

  }

  /* NEWS分頁手機版 */
  @media screen and (max-width: 428px) {
    .wrapper_bg {
      min-width: auto;
      height: auto;
      box-sizing: border-box;
      width: 90%;
    }

    .list li {
      margin: 0 0px 20px 0px;
    }

    .content {
      width: 95%;
      margin-bottom: 0;
    }

    .content>img {
      width: 100%;
      margin-bottom: 10px;
    }

    .para {
      width: 100%;
    }

    .para_subtitle,
    .para_notice {
      margin: 20px 0;
    }
  }