@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Noto+Sans+TC:wght@400;700&display=swap');


html,
body {
    font-size: 18px;
    line-height: 1.6;
    font-family: 'Montserrat', 'Noto Sans TC', sans-serif;

}


a {
    text-decoration: none;
    color: black;
}

h1,h2,h3,h4,h5{font-weight: bold;}



h1 {
    font-size: 66px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}
p{
    font-size: 18px;
}

.wrapper {
    width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

/* ----------Header---------- */
header {
    position: fixed;
    height: 90px;
    width: 100%;
    min-width: 1200px;
    left: 0;
    top: 0;
    background-color: #FF8754;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 50px;
    z-index: 10;
    box-shadow: 0 3px 3px rgba(183, 183, 183, .5);
    
}


.header_logo img {
    display: block;
    width: 150px;
}
#menu{
    display: none;
}
.navi {
    color: #fff;
    letter-spacing: 3px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 700px;
    padding: 0 50px;
}

.navi li {
    padding-left: 1px;
}

.navi li a {
    text-align: center;
    line-height: 36px;
    display: block;
    line-height: 48px;
    color: #fff;
    padding-left: 3px;
}

.navi li a:hover:not(.current) {
    border-bottom: 3px solid #FFCC33;
    margin-bottom: -3px;
}

.navi li .current {
    border-bottom: 3px solid #fff;
    margin-bottom: -3px;
}

.header_logo {
    background-image: url("../img/logo-white.svg");
}

.header_social {
    display: flex;
    width: 150px;
}

.header_social li {

    width: 40px;
}

/* ----------TITLE---------- */
.title {
    min-width: 1200px;
    height: 210px;
    margin-top: 140px;
    position: relative;
    display: flex;
}

.title_block {
    position: absolute;
    top: -200px;
    left: -150px;
    width: 500px;
    height: 500px;
    background-color: #D3442D;
    z-index: -2;
    border-radius: 250px;
    animation: show1 .3s linear forwards;
    transform: scale(.1);
    opacity: 0;
}
@keyframes show1{
    0%{transform: scale(.1);opacity: 0;}
    100%{transform: scale(1);opacity: 1;}
}


.title_text {
    width: 500px;
    margin: 10px;
    z-index: -1;
    opacity: 0;
    animation: tt1 .3s cubic-bezier(.23, .56, .76, .45) forwards;
}

@keyframes tt1 {
    0% {
        transform: scale(1.3);
        opacity: 0;

    }

    100% {
        transform: scale(1);
        opacity: 1;

    }

}

.atitle {
    color: #fff;
    font-size: 58px;
    font-weight: bold;

}

.btitle {
    color: #fff;
    font-size: 32px;

}

/* background */
.bg {
    position: fixed;
    background-color: #FFE9E0;
    z-index: -2;
    background-image:
        url("../img/bg_yellowcircle.svg"),
        url("../img/bg_yellowcircle.svg"),
        url("../img/empty_circle.svg");

    background-repeat: no-repeat;
    background-position:
        70% 10%,
        10% 60%,
        90% 90%;
    background-size:
        250px auto,
        200px auto,
        220px auto;
    right: 0;
    left: 0;
    top: 0;

    width: 100%;
    min-width: 1000px;
    height: 100vh;
    animation: bg1 10s linear infinite;
}

@keyframes bg1 {
    0% {
        background-position:
            70% 10%,
            5% 60%,
            90% 90%;
    }

    25% {
        background-position:
            72.5% 12.5%,
            7.5% 57.5%,
            87.5% 87.5%;
    }

    50% {
        background-position:
            70% 15%,
            9% 60%,
            85% 90%;
    }

    75% {
        background-position:
            67.5% 12.5%,
            7.5% 62.5%,
            87.5% 92.5%;
    }

    100% {
        background-position:
            70% 10%,
            5% 60%,
            90% 90%;
    }

}



.bg2 {
    position: fixed;
    z-index: -2;
    background-image:
        url("../img/bg_yellowcircle.svg"),
        url("../img/bg_yellowcircle.svg"),
        url("../img/empty_circle.svg"),
        url("../img/45degreee_fabric.webp");

    background-repeat: no-repeat,no-repeat,no-repeat,repeat;
    background-position:
        70% 10%,
        10% 60%,
        90% 90%,
        0% 0%;
    background-size:
        250px auto,
        200px auto,
        220px auto,
        auto, auto;
    right: 0;
    left: 0;
    top: 0;

    width: 100%;
    min-width: 1000px;
    height: 100vh;
    animation: bg2 12s linear infinite;
}

@keyframes bg2 {
    0% {
        background-position:
            70% 10%,
            5% 60%,
            90% 90%,
            0% 0%;;
    }

    25% {
        background-position:
            72.5% 12.5%,
            7.5% 57.5%,
            87.5% 87.5%,
            0% 0%;;
    }

    50% {
        background-position:
            70% 15%,
            9% 60%,
            85% 90%,
            0% 0%;;
    }

    75% {
        background-position:
            67.5% 12.5%,
            7.5% 62.5%,
            87.5% 92.5%,
            0% 0%;;
    }

    100% {
        background-position:
            70% 10%,
            5% 60%,
            90% 90%,
            0% 0%;;
    }

}


/* ----------Footer---------- */
.footer_containter::after {
    content: '';
    background-image: url('../img/footer_bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: -1;
}

.footer_containter {
    min-width: 1200px;
    position: relative;
    font-size: .78rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    height: 300px;

}

.footer_containter a {
    color: #fff;
}

.footer_logo {
    width: 200px;
    margin-top: 50px;
}

.footer_social {
    margin: 15px auto;
    display: inline-flex;
}

.footer_social>li {
    width: 50px;

}

.footer_social>li img {
    width: 100%;
}

.footer_sitemap {
    margin: 0px auto 15px;
    display: inline-flex;
}

.footer_sitemap li {
    padding: 0 25px;
    border-right: 1px solid #fff;
}

.footer_sitemap li:last-child {
    border: 0;
}

.footer_copyright {
    color: #FFBC3A;
    font-size: 0.67rem;
}

.footer_copyright > a{
    color: #FFBC3A;
    text-decoration: underline;
}

/* ----------button---------- */
.btn {
    width: 235px;
    height: 60px;
    text-align: center;
    border: 2px solid black;
    border-radius: 30px;
    margin-top: 50px;

}

.btn a {
    display: flex;
    line-height: 60px;
    align-items: center;
    justify-content: center;

}

.angle-right {
    margin-left: 20px;
    height: 18px;
    vertical-align: middle;
}

.btn_center{
    margin: 0 auto;
    margin-bottom: 50px;
}

.btn_white{
    border: 2px solid #fff;
}
.btn_white>a{
    color: #fff;
}

/* ----------page bottom---------- */

.list_bottom {
    margin: 0 auto;
    width: 750px;
}

.list_bottom > img {
    width: 100%;
}

.list_bottom .btn {
    margin: 50px auto 100px;

}



